<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>path:</strong>
  <%= @path %>
</p>



<div class="grid">
  <% 10.times do |n|%>
      <% 10.times do |k|%>
        <%= point(@game, n,k) %>
      <% end %>
  <% end %>
</div>

<%= link_to 'Back', games_path %>
