<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>path:</strong>
  <%= @path %>
</p>



<div class="grid">
  <% 10.times do |n|%>
      <% 10.times do |k|%>
        <%= link_to point(@game, n,k),"#{@game.id}/toggle/#{n}/#{k}", remote: true, method: :post %>
      <% end %>
  <% end %>
</div>

<%= link_to 'Back', games_path %>
